<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header', { showNav: false }) %>
    <main>
        <div class="issue-title"><h1><%= title %></h1></div>
        <%- content %>
    </main>
    <%- include('partials/scripts') %>
</body>
</html>
